<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Expense</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <center><h1>Add Expense➕</h1></center>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Expense</button>
    </form>
    <br>
    <center>👉<a style="text-decoration: none; color: black; border: 1px solid;" href="/">Back to Home</a>👈</center>
</body>
</html>